{{page-title "Home"}}
{{outlet}}

<div class="home-header">

    
    
            <img class="home-logo" src="/assets/e.png"/>
<div class ="middle">    
<div class="Lapplication">
    L'application
</div>
<div class="Minutes" {{on "click" this.scrollToMinutes}}>
    5 Minutes
</div>
</div>
<div class="header-right" >
     <div class="Nouscontacter"{{on "click" this.scrollToContact}}>
    Nous contacter
</div>
<div class="Apropos" {{on "click" this.scrollToPlus}}>
    En savoir plus
</div>
</div>

</div>

<div class="main-home">
    <div class="a">
        <div class="slides">
          <div class ="b2-a">
                    L'appli citoyenne                
                </div>
                <div class="b2-b">
                    <ScreenshotCarousel @screenshots={{this.appScreenshots}} />

                </div>

                                                       
        </div>
        <div class="b">
            <div class="b1">
                <div class="b1-a">
                    5 minutes pour changer la politique locale
                </div>
                <div class ="b1-b">
                    Et si on transformait la façon d’échanger pendant une campagne municipale ?
                    <br/><br/>
                    Avec 5 minutes pour Montpellier, chaque conversation devient :
                    <br/>
                    <ul>
                    <li>
                    Simple ➡️ un smartphone suffit.
                    </li>
                    <li>
                    Claire ➡️ transcription et résumé instantané par IA Mistral.
                    </li>
                    <li>
                    Transparente ➡️ vos interlocuteur·ices voient ce que vous retenez.
                    </li>
                    </ul>

                </div>           
            </div>
            <div class="b1">
                    <div class="c1-a">
                        Pourquoi c’est puissant ?
                    </div>
                
                    <div class ="c1-b">
                        <ul>
                            <li>
                           <p class="bold">
Pour les habitant·es 
                           </p>  Leurs idées peuvent être mieux entendues, en intégrant le contexte.
                            </li>
                            <li>
                                <p class="bold">
 Pour la démocratie locale 
                           </p> 
                            Une nouvelle manière de construire ensemble.
                            </li>
                            <li>
                                                                <p class="bold">
Pour l équipe de campagne  
                           </p> 
                             - Une gestion des militants<br/>
           - une console d’administration
                            </li>
                        </ul>
                    </div>
                    
                                        <div class ="c1-b">
                        <ul>
                            <li>
                           <p class="bold">
+ Pas d’enregistrement audio                           </p>  
                            </li>
                            <li>
                                <p class="bold">
+ Anonymat garanti.
                           </p> 
      
                            </li>
                            <li>
                                                                <p class="bold">
+ Confiance et transparence au cœur de l’expérience.
                           </p> 

                            </li>
                        </ul>
                    </div>
 
                    <div class ="c2-b">
                        <div class="c2-a">
                    🌱 Montpellier innove🌱
                    </div>
                
                    Avec l’Appli Citoyenne, on invente un futur plus participatif, plus écologique et plus humain de la relation élu·es–habitants.
                    </div>
            </div>
            
        </div>
            <div class="c">
                <div class="c1">
                    <div class="b1-a">
                      Envie de tester l’expérience ?
                    </div>
                                        <button class="c11-b" {{on "click" this.contactMr}}>
                    <p class="bold">
Contactez-nous
                    </p> 
                    ✉️ Contact@applicitoyenne.fr<br/>
                    📞 06 86 53 49 51
                                        </button>
                
                
                </div>
      

            
        </div>
    </div>
</div>






<div class="home-footer">
      <p>
    <strong>Solution logicielle</strong> développée par <span class="dev-name">jo-dev</span>.<br/>
    Pour toute question technique concernant l’application, l’exercice de vos droits ou des informations sur la gestion de vos données,<br/>
    contactez : 
    <a href="mailto:dev5minutespourmontpellier@gmail.com">dev5minutespourmontpellier@gmail.com</a>
  </p>
</div>