{{page-title "Synthese"}}

  <img class="refresh-icon" src="assets/refresh_image.png"/ {{on "click" this.openModale}} >

  <div class="center-block-resume">
      <div class="top-text-resume">
          <h2 class="title">RÉSUMÉ</h2>
    </div>

    <div class = "content-selector-resume">


<div class="wrapper-resume">


          <div class="type-selector-resume">

        <button 
      class="type-btn {{if (eq this.selectedType 'Dialogue') 'active' 'inactive'}} Dialogue" type="button" {{on "click" (fn this.selectType "Dialogue")}}
    >
      Dialogue

          </button>

    <button 
      class="type-btn {{if (eq this.selectedType 'Synthèse') 'active' 'inactive'}} Synthèse" type="button" {{on "click" (fn this.selectType "Synthèse")}}
    >
      Synthèse
    </button>
    <button 
      class="type-btn {{if (eq this.selectedType 'Mail') 'active' 'inactive'}} Mail" type="button" {{on "click" (fn this.selectType "Mail")}}
    >
      Mail
    </button>
  </div>



    <div class="content-are-resume">
    <pre class="content-text-resume">{{this.displayContent}}</pre>
  </div>

  <div class="action-buttons-resume">
    <button class="action-btn copy-btn" type="button" {{on "click" this.copyContent}}>
                 <img class="small-icon" src="assets/copy_image.png"/>

       Copier
    </button>
    <button class="action-btn send-btn" type="button" {{on "click" this.sendContent}}>
           <img class="small-icon" src="assets/send_image.png"/>

       Envoyer
    </button>
  </div>


</div>





    </div>


  </div>





{{!-- <div class="content-selector">
  <div class="header">
    <h2 class="title">RÉSUMÉ</h2>
  </div>

  <div class="type-selector-wrapper">


  <div class="type-selector">

        <button 
      class="type-btn {{if (eq this.selectedType 'texte') 'active' 'inactive'}}"
      {{on "click" (fn this.selectType "Dialogue")}}
    >
      Dialogue

          </button>

    <button 
      class="type-btn {{if (eq this.selectedType 'texte') 'active' 'inactive'}}"
      {{on "click" (fn this.selectType "Synthèse")}}
    >
      Synthèse
    </button>
    <button 
      class="type-btn {{if (eq this.selectedType 'mail') 'active' 'inactive'}}"
      {{on "click" (fn this.selectType "Mail")}}
    >
      Mail
    </button>
  </div>

  <div class="content-area">
    <pre class="content-text">{{this.displayContent}}</pre>
  </div>

  <div class="action-buttons">
    <button class="action-btn copy-btn" {{on "click" this.copyContent}}>
      📋 Copier
    </button>
    <button class="action-btn send-btn" {{on "click" this.sendContent}}>
      📤 Envoyer
    </button>
  </div>
    </div>
  
</div> --}}