<div class="admin-dashboard">

  <div class="table-container">
    <div class="table-header">
      <div class="table-actions">
         <button class="btn btn-secondary" {{on "click" this.exportData}}>
          <i class="icon-download"></i>
          Gerer les militants                         

        </button>


      </div>
<div class='date-selector'>
    <button 
    class="btn btn-pagination" 
    {{on "click" this.previousPage}}
    >  
    A
    </button>



      <h2 class="table-title">
        
        
    
        {{this.dateSelected}}</h2>

                    <button 
            class="btn btn-pagination" 
            {{on "click" this.nextPage}}
          >
            >
          </button>
</div>


      <div class="table-actions">

        <button class="btn btn-secondary" {{on "click" this.exportData}}>
          <i class="icon-download"></i>
          Exporter                         

        </button>

      </div>
    </div>


    <div class="table-wrapper">
      <table class="data-table">
        <thead>
          <tr>

            {{#each this.columns as |column|}}
              <th class="each {{column.class}}" {{on "click" (fn this.sortBy column.key)}}>
                {{column.label}}
                {{#if (eq this.sortColumn column.key)}}
                  <i class="sort-icon {{if this.sortAsc 'icon-arrow-up' 'icon-arrow-down'}}"></i>
                {{else}}
                  <i class="sort-icon icon-sort"></i>
                {{/if}}
              </th>
            {{/each}}
 

          </tr>
          
        </thead>

        <tbody>
          {{#if this.isLoading}}
            <tr class="loading-row">
              <td colspan={{this.totalColumns}} class="loading-cell">
                <div class="loading-spinner"></div>
                <span>Chargement...</span>
              </td>
            </tr>
          {{else if this.hasData}}
            {{#each this.paginatedData as |item index|}}
              <tr class="data-row {{if item.isSelected 'selected'}}" {{on "click" (fn this.selectRow item)}}>

                {{#each this.columns as |column|}}
                  <td class="{{column.class}}">
                    {{#if column.isCustom}}

                  <div class="synthese-link" {{on "click" (fn this.openSynthese item)}}>
                    Détails
                  </div>
        
                    {{else if column.isDate}}
                      {{get item column.key}} 
                    {{else if column.isStatus}}
                      <span class="status-badge status-{{get item column.key}}">
                        {{get item column.key}}
                      </span>
                    {{else}}
                      {{get item column.key}}
                    {{/if}}
                  </td>
                {{/each}}

              </tr>
            {{/each}}
          {{else}}
            <tr class="empty-row">
              <td colspan={{this.totalColumns}} class="empty-cell">
                <div class="empty-state">
                  <i class="icon-inbox"></i>
                  <h3>Aucune donnée</h3>
  
                </div>
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
