{{#if this.modal.isOpen}}
  <div class="modal-backdrop">
    <div class="modal">

        <div class="modal-title">
            <p>{{this.modal.title}}</p>
        </div>
            <div class="modal-content">
            <p>{{this.modal.content}}</p>
        </div>
                <div class="modal-button">

            {{#if (eq this.modal.type "delete")}}
            <button {{on "click" this.deleteSynthese}}>
                Supprimer
            </button>
            <button {{on "click" this.closeModal}}>
                Annuler
            </button>

            {{else}}
            <button {{on "click" this.deleteSynthese}}>
                Nouveau dialogue
            </button>
            <button {{on "click" this.closeModal}}>
                Annuler
            </button>

            {{/if}}
        </div>
    </div>
  </div>
{{/if}}
{{#if this.modal.showLogging}}
  <div class="modal-backdrop code">
    <div class="modal codeModal">

            <div class="modal-content codeContent">
            <CodeSelector/>
        </div>

    </div>
  </div>
{{/if}}


{{#if this.modal.showExport}}
  <div class="modal-backdrop">
    <div class="modal">
            <div class="modal-content">

                Exporter ???? 
        </div>

    </div>
  </div>
{{/if}}
