            {{#if (eq this.state "resume")}}
        <img class="trash-icon" src="assets/trash_image.png"/ {{on "click" this.openModale}}>

    {{/if}}


  <div class="center-block">
      <div class="top-text">
     <h1>{{this.formattedTime}} </h1>
    </div>

    <div class="big-button" type="button" >
        <RecordingButton
            @onClick = {{this.onClick}}
/>
    </div>
        

            {{#if (eq this.state "resume")}}
             <div class="bottom-button">
                <button class="getsynthese" type="button" {{on "click" this.getSynthese}}>
                    Cliquer pour obtenir la synthèse
                </button>
            </div>




            {{else}}
               
            <div class="bottom-text">
                <div class="end-content">

                    {{#if (eq this.state "start")}}
                        Synthétiser la parole citoyenne via IA 
                    {{/if}}

                    {{#if (eq this.state "pause")}}
                    {{ this.recentTranscription}}
                    {{/if}}


                </div>
            </div>

            {{/if}}




  </div>
{{!-- 



<button type="button" {{on "click" this.stopStreaming}}>
    Stop
</button>


{{ this.audioRecorder.transcription}}

{{#if this.isActiveTranscription}}

<button type="button" {{on "click" this.getSynthese}}>
    Cliquer pour obtenir la synthèse
</button>

{{/if}}


<h1> {{this.aiAgents.isLoading}}</h1>

{{ this.aiAgents.error}}
{{ this.aiAgents.dialogueStructure}}
{{ this.aiAgents.synthese}}
{{ this.aiAgents.originalText}} --}}